{
    "presets":[
        "es2017", "react"
    ],
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "test": {
            "presets":[
                "es2017", "react"
            ],
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}